<section class="footer-bar">
    <nav class="footer-bar__links">
        <a [routerLink]="['/quienes-somos']">Quiénes somos</a>
        <a [routerLink]="['/centro-ayuda']">Centro de ayuda</a>
        <a [routerLink]="['/reglas-convivencia']">Reglas de convivencia</a>
        <a [routerLink]="['/consejos-seguridad']">Consejos de seguridad</a>
        <a [routerLink]="['/prensa']">Prensa</a>
        <a [routerLink]="['/empleo']">Empleo</a>
        <a [routerLink]="['/cookies']">Cookies</a>
        <a [routerLink]="['/privacidad']">Privacidad</a>
        <a [routerLink]="['/terminos']">Términos</a>
    </nav>
    <p class="footer-bar__copy">© 2026 Buy&Sell · Hecho para la comunidad tech.</p>
</section>