<section class="estadisticas">
    <div class="header">
        <div class="navegador">
            <a [routerLink]="['/admin/panel/categories']">
                <div class="atras"><</div></a>
            <div class="alante">></div>
            
        </div>
        <div class="ruta">
            <p class="panel">Panel</p>
            <div>></div>
            <p class="panel">Estadísticas</p>
            
            
        </div>
    </div>

    <h1>Estadísticas</h1>
    <p>Métricas globales de la plataforma</p>
    <div class="resumen">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">777</h2>
                    <h6 class="card-subtitle mb-2 text-muted">Artículos publicados</h6>
                    <h6 class="porcentaje">+8% este mes</h6>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">777</h2>
                    <h6 class="card-subtitle mb-2 text-muted">Usuarios activos</h6>
                    <h6 class="porcentaje">+8% este mes</h6>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">7777</h2>
                    <h6 class="card-subtitle mb-2 text-muted">Reportes pendientes</h6>
                    <h6>23 en total</h6>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">777</h2>
                    <h6 class="card-subtitle mb-2 text-muted">Artículos vendidos</h6>
                    <h6 class="porcentaje">+8% este mes</h6>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">777</h2>
                    <h6 class="card-subtitle mb-2 text-muted">Categorías activas</h6>
                    <h6 class="porcentaje">Catálogo completo</h6>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">7777</h2>
                    <h6 class="card-subtitle mb-2 text-muted">Artículos retirados</h6>
                    <h6 class="porcentaje">+8% este mes</h6>

                </div>
            </div>
        </div>
        <div class="card">
                <div class="card-body">
                    <h2 class="card-title ventas">Ventas últimos 6 meses</h2>
                    <canvas id="salesChart"></canvas>
                </div>
        </div>
    
</section>
